body {
	font-family:Arial;
}
#wrapper {
	width:200px;
	overflow:hidden;
}
#factory {
	display:none;
}
.separator {
	border-bottom:1px solid #ccc;
	margin:5px 5px 5px 5px;
}

.menuAction {
	width:200px;
	height:30px;
	margin:0px 0px 0px 0px;
	padding:3px 0px;
}
.menuAction:hover {
	background:#ffc;
}
.menuAction.disabled {
	opacity:.3;
}
.menuAction .icon {
	width:30px;
	height:30px;
	float:left;
	margin:0px 5px 0px 5px;
}
.menuAction .icon img {
	width:30px;
	height:30px;
}
.menuAction .name {
	width:160px;
	height:30px;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	float:left;
}