body {
	background:#def;
}

#wrapper {
	width:600px;
	min-height:200px;
	margin:0px auto;
	background:#fff;
}

#logs {
	font-family:monospace;
	margin:10px;
	background:#eee;
	padding:10px;
}